<div class="row g-3 align-items-center mb-4">

  <div class="col-auto">
    <label for="tipoConsulta" class="col-form-label">Tipo de Consulta:</label>
  </div>
  <div class="col-auto">
    <select id="tipoConsulta" class="form-select" [(ngModel)]="tipo" name="tipoConsulta" (change)="updateCampos()">
      <option [value]="TipoConsulta.HORA">Média por Hora</option>
      <option [value]="TipoConsulta.MEDIA">Média por Dia</option>
    </select>
  </div>

</div>

<div class="row g-3 align-items-center mb-4">

  <div class="col-auto">
    <label class="col-form-label">Data:</label>
  </div>
  <div class="col-auto">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="data"
      name="data"
      (change)="buscar()">
  </div>

  <div class="col-auto">
    <label class="col-form-label">Data Início:</label>
  </div>
  <div class="col-auto">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dataInicio"
      name="dataInicio"
      (change)="buscar()"
      [disabled]="tipo === TipoConsulta.HORA">
  </div>

  <div class="col-auto">
    <label class="col-form-label">Data Fim:</label>
  </div>
  <div class="col-auto">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dataFim"
      name="dataFim"
      (change)="buscar()"
      [disabled]="tipo === TipoConsulta.HORA">
  </div>

  <div class="col-auto">
    <label class="col-form-label">Últimos dias:</label>
  </div>
  <div class="col-auto">
    <input
      type="number"
      class="form-control"
      [(ngModel)]="dias"
      name="dias"
      (change)="buscar()"
      [disabled]="tipo === TipoConsulta.HORA">
  </div>

</div>
