<div class="row g-3 align-items-center mb-4">

  <div class="col-auto">
    <label for="tipoMedicao" class="col-form-label">Tipo de Consulta:</label>
  </div>
  <div class="col-auto">
    <select id="tipoMedicao" class="form-select" [(ngModel)]="tipo" name="tipoMedicao" (change)="updateCampos()">
      <option [value]="TipoMedicao.HORA">Média por Hora</option>
      <option [value]="TipoMedicao.DIA">Média por Dia</option>
    </select>
  </div>

</div>

<div class="row g-3 align-items-center mb-4">

  <div class="col-auto">
    <label class="col-form-label">Data:</label>
  </div>
  <div class="col-auto">
    <input
    type="date"
    class="form-control"
    [(ngModel)]="data"
    name="data"
    (change)="buscar()"
    [disabled]="tipo === TipoMedicao.DIA"
    [max]="dataMaximaHoje">
  </div>

  <div class="col-auto">
    <label class="col-form-label">Data Início:</label>
  </div>
  <div class="col-auto">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dataInicio"
      name="dataInicio"
      (change)="buscar()"
      [max]="dataMaximaHoje"
      [disabled]="tipo === TipoMedicao.HORA">
  </div>

  <div class="col-auto">
    <label class="col-form-label">Data Fim:</label>
  </div>
  <div class="col-auto">
    <input
      type="date"
      class="form-control"
      [(ngModel)]="dataFim"
      name="dataFim"
      [min]="dataInicio"
      (change)="buscar()"
      [max]="dataMaximaHoje"
      [disabled]="tipo === TipoMedicao.HORA">
  </div>

  <div class="col-auto">
    <label class="col-form-label">Últimos dias:</label>
  </div>
  <div class="col-auto">
    <input
    type="number"
    class="form-control"
    [(ngModel)]="dias"
    name="dias"
    (change)="buscar()"
    [disabled]="tipo === TipoMedicao.HORA || (!!dataInicio && !!dataFim)">
  </div>

</div>
