<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="form-signin m-auto">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <h1 class="h3 mb-3 fw-normal">Log in</h1>

  <div class="form-floating mb-2">
    <input type="text" class="form-control" formControlName="username" id="floatingInput" placeholder="user">
    <label for="floatingInput">Usuário</label>
  </div>
  <div class="form-floating mb-2">
    <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Senha</label>
  </div>
  <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
  <p class="mt-5 mb-3 text-body-secondary">&copy; 2025</p>
</form>
</main>
  </body>
