<div class="card p-4 chart-custom">
  <h5 class="mb-3">Medições de Temperatura</h5>
  <apx-chart
  #chart
    *ngIf="chartOptions && chartOptions.series && chartOptions.chart"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [yaxis]="chartOptions.yaxis!"
    [legend]="chartOptions.legend!"
    [fill]="chartOptions.fill!"
    [stroke]="chartOptions.stroke!"
    [tooltip]="chartOptions.tooltip!"
    [xaxis]="chartOptions.xaxis!"
  ></apx-chart>
</div>
