<div class="card p-4">
  <h5 class="mb-3">Evolução do Nível do Tanque (L)</h5>
  <p>Média diária nos últimos {{ dias }} dias — variações típicas do sistema.</p>
  <apx-chart
    *ngIf="chartOptions && chartOptions.series && chartOptions.chart"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis!"
    [stroke]="chartOptions.stroke!"
    [dataLabels]="chartOptions.dataLabels!"
    [yaxis]="chartOptions.yaxis!"
    [labels]="chartOptions.labels!"
    [legend]="chartOptions.legend!"
    [title]="chartOptions.title!"
    [subtitle]="chartOptions.subtitle!"
    [colors]="chartOptions.colors!"
></apx-chart>

  <button class="btn btn-outline-primary" (click)="exportarNivel()">Exportar Nível XLS</button>

</div>
