
/*
  Tipografia
*/

$font-family: "Inter", sans-serif;
$font-weight-padrao: 400;
$font-weight-medio: 500;
$font-weight-negrito: 700;

/*
  Cores
*/

$white: #ffffff;
$black: #000000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-900: #212529;

$cor1: #01161e;
$cor2: #124559;
$cor3: #598392;
$cor4: #aec3b0;
$cor5: #eff6e0;

