<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Monitoramento ambiental</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/home" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/dispositivos" class="nav-link">Dispositivos</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/medicoes" class="nav-link">Medições</a></li>
      <li class="nav-item"><a routerLinkActive="active" routerLink="/sensores" class="nav-link">Sensores</a></li>
      <li class="nav-item"><a routerLinkActive="active" (click)="logout()" class="nav-link">Logout</a></li>
    </ul>
  </header>
</div>
