<div class="container mt-5">

  <div *ngIf="loading" class="loading-overlay">
    <div class="text-center">
      <p>Carregando gráficos...</p>
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <h1 class="dashboard-title mb-4">Dashboard</h1>

  <app-filtros (filtrosAtualizados)="onFiltrosAtualizados($event)"></app-filtros>

  <section class="dashboard-container-row mt-5">
    <app-indicadores-card [filtros]="filtros" (chartLoaded)="onChartLoaded()"></app-indicadores-card>
  </section>

  <section class="dashboard-container-row mt-5">
    <app-line-chart [filtros]="filtros" (chartLoaded)="onChartLoaded()"></app-line-chart>
  </section>

  <section class="dashboard-container-row">
    <div class="mt-5">
      <app-area-chart [filtros]="filtros" (chartLoaded)="onChartLoaded()"></app-area-chart>
    </div>
  </section>

  <section class="dashboard-container-row mt-5">
    <app-analise [filtros]="filtros" (chartLoaded)="onChartLoaded()"></app-analise>
  </section>
  <section class="dashboard-container-row">
    <app-line-marker-chart [filtros]="filtros" (chartLoaded)="onChartLoaded()"></app-line-marker-chart>
  </section>
</div>
