<div class="card p-4 chart-custom">
  <h5 class="mb-3">Histórico de Vazão Diária - Sensor 1 (L/s)</h5>
  <p>Médias diárias dos últimos 20 dias, extraídas automaticamente do CLP.</p>
  <apx-chart
  #chart
    *ngIf="chartOptions && chartOptions.series && chartOptions.chart"
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [stroke]="chartOptions.stroke!"
    [title]="chartOptions.title!"
    [colors]="chartOptions.colors!"
  ></apx-chart>
</div>
