<div class="card p-4 chart-custom">
  <h5 class="mb-3">Histórico de Vazão Diária - Sensor 1 (L/s)</h5>
  <p>Médias diárias dos últimos 20 dias, extraídas automaticamente do CLP.</p>
  <apx-chart
    #chart
    *ngIf="chartOptions && chartOptions.series && chartOptions.chart"
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [stroke]="chartOptions.stroke!"
    [title]="chartOptions.title!"
    [colors]="chartOptions.colors!"
    [tooltip]="chartOptions.tooltip!"
></apx-chart>

</div>

<div class="mt-2">
  <button class="btn btn-primary" (click)="exportarVazaoXls()">Exportar Vazão XLS</button>
  <button class="btn btn-success btn-space" (click)="exportarVazaoPdf()">Exportar Vazão PDF</button>
</div>
