.alert-message {
  background-color: #f8f9fa; /* Cor de fundo suave */
  border-left: 4px solid #0d6efd; /* Azul Bootstrap */
  padding: 12px 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-weight: 500;
  color: #212529;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 0;
}
