@use './styles/variables' as *;
@use './styles/typography' as *;

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

/* Aplicação global */
html, body {
  font-size: 16px;
  color: #111;
}

/* Remove influência da tipografia do Angular Material */
.mat-typography {
  font-family: 'Inter', sans-serif !important;
}
